


.topWeblinks {
 color: black;
 font-family: arial,sans-serif;
 font-size:13px;
 display: inline-block, flex;
 line-height: 24px;
 vertical-align: middle;
 text-align: right;
 

}



a{
    display: inline-block, flex;
    text-decoration: none;
    color: black;
    border-style: none;
    
    padding: 10px;
    
}

a:hover{
    text-decoration: underline;
}

.googleImage{

    display: flex;
    justify-content: center;
    width: 100%;
    height: 272px
    
    
    
}

img{
    width:100%;
    max-width: 272px;
    align-self: flex-end;
}