


.topWeblinks {
 color: black;
 font-family: arial,sans-serif;
 font-size:13px;
 display: inline-block, flex;
 line-height: 24px;
 vertical-align: middle;
 text-align: right;
 

}



a{
    display: inline-block, flex;
    text-decoration: none;
    color: black;
    border-style: none;
    
    padding: 10px;
    
}

a:hover{
    text-decoration: underline;
}

.googleImage{
    /* Need to use justify-content along with display, won't work just by itself CITE*/
    display: flex;
    justify-content: center;
    width: 100%; /*Because this is the parent element this sets the width of the container to the whole length of the display*/
    height: 272px;
    margin: 25px;
    
    
    
}

img{
    width:100%;/*When using percentages for child elements, the percentages are always relative to the parent element's size*/
    max-width: 272px; /*This is so the google logo doesn't shrink beyond Google's prescribed size*/
    align-self: flex-end;
}

.searchBarContainer{
    /*These were taken from Google's own HTML!*/
    display: flex;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    margin: 0 auto;
    width: auto;
    max-width: 584px; 

}

.searchBar{
    display: flex;
    margin:auto;
    width:70%;
    

}